html{
	color:#000;
	background:#FFF;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3,
h4, h5, h6, pre, code, form, fieldset, legend, input,
textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
table {
	border-collapse:collapse;
	border-spacing:0;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
fieldset, img {
	border:0;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
ol, ul {
	list-style:none;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
caption, th {
	text-align:left;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
h1, h2, h3, h4, h5, h6 {

	font-size:100%;
	font-weight:normal;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
q:before, q:after {
	content:'';
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
abbr, acronym {
	border:0;
	font-variant:normal;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
sup {
	vertical-align:text-top;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
sub {
	vertical-align:text-bottom;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	*font-size:100%;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
legend {
	color:#000;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.header {
     background-color: #092674;
     height: 100px;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.nav img{
    width: 100px;
    height: 100px;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.header a{
    color: #FFF;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.menu {
    display: flex;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.menu li a{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-decoration: none;
    letter-spacing: 0.01em;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.menu li a {
    padding: 65px;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.nav {
    display: flex;
    align-items: center;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.logo {
    margin-left: 50px;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.sdu img {
    margin-left: 100px;
    width: 300px;
    height: 400px;
    padding: 70px;
    padding-right: 20px;
    padding-bottom: 0px;
    border: solid 1px #FFF;
    float: left;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.table {
    color: #092674;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
    margin-left: 650px;
    margin-top: 150px
}

.table tr {
    font-size: 22px;
    color: #092674;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.h3 {
    color: #092674;
    padding-right: 300px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.line {
    margin-top: 110px;
    color: #092674;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.textarea {
    margin-left: 50px;
    width: 800px;
    height: 400px;
    font-size: 22px;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.labeltext {
    font-size: 22px;
    color: #092674;
    text-align: center;
    font-weight: bold;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.input {
    font-weight: bold;
    font-size: 22px;
    color: #092674;
    margin-left: 298px;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.footer{
    background-color: #092674;
    height: 100px;
    margin-top: 1000px;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.gotop img {
    width: 40px;
    height: 40px;
    padding: 30px;
    margin-left: 630px;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*$$$$$$$$$$                        $$$$$$$$$$$    $$$$$$$$$$$$$$$$$$$  $$$$$$$$$$$              $$$$$$$$$$$$$$$$$$$$$$$$$*/
/*$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  $$  $$$$$$$$$$$$$$$$$  $$$$$$$$$$$  $$$$$$$$$$$$      $$$$$$$$$$$$$$$$$$$*/
/*$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  $$$   $$$$$$$$$$$$$$$  $$$$$$$$$$$  $$$$$$$$$$$$$$$$$$    $$$$$$$$$$$$$$$*/
/*$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  $$$$    $$$$$$$$$$$$$  $$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$   $$$$$$$$$$$$*/
/*$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  $$$$$    $$$$$$$$$$$$  $$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$  $$$$$$$$$$*/
/*$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  $$$$$$    $$$$$$$$$$$  $$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$  $$$$$$$$$$*/
/*$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  $$$$$$$    $$$$$$$$$$  $$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$  $$$$$$$$$$*/
/*$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  $$$$$$$$    $$$$$$$$$  $$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$  $$$$$$$$$$*/
/*$$$$$$$$$$                        $$$$$$$$$$$  $$$$$$$$$    $$$$$$$$  $$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$  $$$$$$$$$$*/
/*$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  $$$$$$$$$$    $$$$$$$  $$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$  $$$$$$$$$$*/
/*$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  $$$$$$$$$$$    $$$$$$  $$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$  $$$$$$$$$$*/
/*$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  $$$$$$$$$$$$    $$$$$  $$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$  $$$$$$$$$$*/
/*$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  $$$$$$$$$$$$$    $$$$  $$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$  $$$$$$$$$$*/
/*$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  $$$$$$$$$$$$$$    $$$  $$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$   $$$$$$$$$$$$*/
/*$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  $$$$$$$$$$$$$$$    $$  $$$$$$$$$$$  $$$$$$$$$$$$$$$$$$    $$$$$$$$$$$$$$$*/
/*$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  $$$$$$$$$$$$$$$$    $   $$$$$$$$$$  $$$$$$$$$$$$      $$$$$$$$$$$$$$$$$$$*/
/*$$$$$$$$$$                        $$$$$$$$$$$  $$$$$$$$$$$$$$$$$$     $$$$$$$$$$$              $$$$$$$$$$$$$$$$$$$$$$$$$*/
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/